<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loading组件分析</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        #app {
            width: 100vw;
            height: 100vh;
        }

        #loading {
            width: 600px;
            height: 600px;
            background-color: aqua;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- 因为loading组件是绝对定位，所以在扩展时会在父节点加上 el-loading-parent--relative-->
        <div id="loading" class="el-loading-parent--relative"></div>
    </div>
    <script src="../vue2.js"></script>
    <script>

        let _loading = Vue.component("loading", {
            template: `
            <transition name="el-loading-fade" @after-leave="handleAfterLeave">
                <div
                v-show="visible"
                class="el-loading-mask"
                :style="{backgroundColor: background || ''} "
                :class="[customClass, { 'is-fullscreen': fullscreen }]">
                    <div class="el-loading-spinner">
                        <svg v-if="!spinner" class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none"/>
                        </svg>
                        <i v-else :class="spinner"></i>
                        <p v-if="text" class="el-loading-text">{{ text }}</p>
                    </div>
                </div>
            </transition>`,
            data() {
                return {
                    text: null,
                    spinner: null,
                    background: null,
                    fullscreen: true,
                    visible: false,
                    customClass: ''
                };
            },
            methods: {
                handleAfterLeave() {
                    this.$emit('after-leave');
                },
                setText(text) {
                    this.text = text;
                }
            }
        })
        function afterLeave(instance, callback, speed = 300, once = false) {
            let called = false;
            const afterLeaveCallback = function () {
                if (called) return;
                called = true;
                if (callback) {
                    callback.apply(null, arguments);
                }
            };

            setTimeout(() => {
                afterLeaveCallback();
            }, speed + 100);
        };
        const LoadingConstructor = Vue.extend(_loading);
        const defaults = {
            text: null,
            fullscreen: true,
            body: false,
            lock: false,
            customClass: ''
        };
        let fullscreenLoading;//用来保存弹窗实例
        LoadingConstructor.prototype.close = function () {
            // 清除弹窗实例
            if (this.fullscreen) {
                fullscreenLoading = undefined;
            }
            afterLeave(this, _ => {
                // 结束后删除节点
                if (this.$el && this.$el.parentNode) {
                    this.$el.parentNode.removeChild(this.$el);
                }
                this.$destroy();
            }, 300);
            this.visible = false;
        };
        let service = (options = {}) => {
            options = Object.assign({}, defaults, options);
            if (typeof options.target === 'string') {
                options.target = document.querySelector(options.target);
            }
            options.target = options.target || document.body;
            if (options.target !== document.body) {
                options.fullscreen = false;
            } else {
                options.body = true;
            }
            // 覆盖整个body的loading只能有一个
            if (options.fullscreen && fullscreenLoading) {
                return fullscreenLoading;
            }
            let instance = new LoadingConstructor({
                el: document.createElement('div'),
                data: options
            });
            let parent = options.body ? document.body : options.target;
            parent.appendChild(instance.$el);
            Vue.nextTick(() => {
                instance.visible = true;
            });
            // 将实例赋值给 fullscreenLoading
            if (options.fullscreen) {
                fullscreenLoading = instance;
            }
            return instance;
        }


        Vue.prototype.$loading = service

        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: true
                }
            },
            mounted() {
                const loading = this.$loading({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)',
                    target: "#loading"
                })
                setTimeout(() => {
                    loading.close();
                }, 2000);
            }
        })
    </script>
</body>

</html>